@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);
.adpost img{
	margin-bottom: -24px;
}

#social{
	margin-right: 44px;
	bottom: 21px;
}

#second_nav li{
	bottom: 25px;
}

#admin_container #categoryForm{
	height: 503px;
}
