body{
	margin: 0 auto;
	min-width:800px;
	width:1200px;
}

head, body, header, a, li, p {
	font-family: 'Roboto+Condensed', sans-serif;
}

#header_wrapper {
	position:fixed;
	width: 100%;
        max-width: 1200px;
	min-width:800px;
	height: 150px;
	background-color: #000;
	margin: 0 auto;
}

#header_wrapper *{
	display: inline;
}

#logo {
	float: left;
	padding: 0;
	margin-top: 0;
	margin-left:10px;
}

#logo a{
	text-decoration: none;
	display: block;
}

#top_nav ul {
	padding: .2em 1em;
	list-style-type: none;
}

#top_nav li{
	padding-right:20px;
	float: left;
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
}

#top_nav li:last-child{
	padding-right:0px;
}

#top_nav li a {
	padding-top:120px;
	text-decoration: none;
	color: #FFF;
	width: 90px;
	height: 59px;
	display: block;
}

li#sort_by {
	padding-left: 35px;
	width: 90px;
	height: 59px;
	background-position: 0 0;
}

li#sort_by:hover{
	background-position: 0 -59px;
}

li#submit {
	width: 80px;
	height: 59px;
	background-position: -91px 0;
}

li#submit:hover{
	background-position: -91px -59px;
}

li#search{
	width: 90px;
	height: 59px;
	background-position: -172px 0;
}

li#search:hover{
	background-position: -172px -59px;
}

li#adspace{
	height: 150px;
	float: right;
}

div#left_sidebar{
	display: block;
	padding-top: 150px;
	width: 180px;
}

#calendar{
	height: 200px;

}
#blurb{
	font-weight: bold;
	border-top:1px solid gray;
	border-bottom:1px solid gray;
	font-size: 15px;
}
#categories{
	font-weight: bold;
}

#categories li {
	margin-left: -40px;
	list-style-type: none;
}

#categories li a{
	text-decoration: none;
	font-size: 15px;
}

#categories li a:visited{
	color: #EB0299;
}

#post_container{
	float:right;
}

div#footer_nav {
	background-color: #000;
	margin-top:20px;
	height: 24px;
	width: 100%;
        max-width: 1200px;
	min-width:800px;
}

#footer_nav_wrapper ul {
	list-style-type: none;
	text-align: right;
}

#footer_nav_wrapper ul li {
  	display:inline;
	text-transform: uppercase;
	font-weight: bold;
        font-size:10px;

}

#footer_nav_wrapper ul li a {
	text-decoration: none;
	padding:.2em 1em;
        color:white;
}
