<!DOCTYPE html>
<html>
	<head>
		<link href="http://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet" type='text/css'>
        	<link href="../../public/style.css" rel="stylesheet" type="text/css">
        	<script type="text/javascript" src="/public/frontend.js"></script>
		<script type="text/javascript" src="/public/calendar-2.2.js"></script>
		<script src="https://login.persona.org/include.js"></script>
	        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script type="text/javascript">					 
				function validateForm(){
					var errors = 0;
					var errorbox = document.getElementById("errorbox");
				        var messageForm = document.getElementById('messageForm');
				        //var fd = new FormData(messageForm);
				        var elements = messageForm.elements;
				        errorbox.innerHTML = "";

					if(elements["title"].value.length == 0){
						errorbox.innerHTML += "* Please provide a name for the event! <br // >";
						errors += 1;
					}
					
					if(elements["adposition"].value <= 0 && elements["Advertisement"].checked){
						errorbox.innerHTML += "* Ad position should be greater than 0! <br // >";
						errors += 1;
					}

					if(elements["image"].value.length == 0){
						errorbox.innerHTML += "* Please provide a link to the event image! <br // >";	
					}
					else{
						var imagefileformats = [".gif", ".jpg", ".jpeg", ".bmp", ".png"];
						var ext = elements["image"].value.substring(elements["image"].value.lastIndexOf('.'));
						if(imagefileformats.indexOf(ext) < 0){
							errorbox.innerHTML += "* Image file format not supported. <br // >";
							errors += 1;
						}
					}

					if(elements["linkto"].value.length == 0){
						errorbox.innerHTML += "* Please provide a link for the event! <br // >";
						errors += 1;
					}

					if(elements["price"].value.length == 0){
						errorbox.innerHTML += "* Please provide a price for the event! <br // >";
						errors += 1;
					}
					else if(!parseInt(elements["price"].value) && parseInt(elements["price"].value) != 0){
						errorbox.innerHTML += "* Price could not be converted to a number <br // >";
						errors += 1;
					}
					else if(parseInt(elements["price"].value) < 0){
						errorbox.innerHTML += "* Price cannot be negative. <br // >";
						errors += 1;
					}


					if(elements["description"].value.length == 0){
						errorbox.innerHTML += "* Please provide a description for the event! <br // >";
						errors += 1;
					}

					    var monthtext=['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sept','Oct','Nov','Dec'];

					    var startmonth = monthtext.indexOf(elements["startmonth"].value) + 1;
					    var startday = elements["startday"].value;

					    if(startmonth < 10){
					    	startmonth = '0' + startmonth;
					    }
					    if(startday < 10){
					    	startday = '0' + startday;
					    }
					    var startdate = parseInt(elements["startyear"].value + startmonth + startday); 

					    var endmonth = monthtext.indexOf(elements["endmonth"].value) + 1;
					    var endday = elements["endday"].value;

					    if(endmonth < 10){
					    	endmonth = '0' + endmonth;
					    }
					    if(endday < 10){
					    	endday = '0' + endday;
					    }
					    var enddate = parseInt(elements["endyear"].value + endmonth + endday); 

					if(startdate > enddate){
						errorbox.innerHTML += "* End date cannot be earlier than start date <br // >";
						errors += 1;
					}
					var today = new Date();
					var modify_month = parseInt(today.getMonth()+1);
					if(modify_month < 10){
						modify_month = '0' + modify_month;
					}

					var modify_date = parseInt(today.getDate());
					if(modify_date < 10){
						modify_date = '0' + modify_date;
					}
					var modify_d = parseInt(today.getFullYear() + '' + modify_month + '' + modify_date);
					if(modify_d > enddate){
						errorbox.innerHTML += "* End date cannot be earlier than today <br // >";
						errors += 1;

					}

					return errors == 0;
				}
		</script>
		<script type="text/javascript">					 
				var calJEC = new JEC('myCalendarContainer', {
					weekdays: [
					    "S",
					    "M",
					    "T",
					    "W",
					    "Th",
					    "F",
					    "S"
					  ]
				});
				var temparray = [];
				start = 20130101;
				while (start <= 20501231){
					temparray.push({linkedDate:start,dateLink:'/'+start});
					start = start+1;
				}
				//calJEC.linkDates(temparray);
				calJEC.showCalendar();
		</script>
		<script type="text/javascript">

			/***********************************************
			* Drop Down Date select script- by JavaScriptKit.com
			* This notice MUST stay intact for use
			* Visit JavaScript Kit at http://www.javascriptkit.com/ for this script and more
			***********************************************/

			var monthtext=['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sept','Oct','Nov','Dec'];

			function setSelectedTime(s, v) {
				s.options[v].selected = true;
			}

			function setSelectedYear(s, v) {
				for ( var i = 0; i < s.options.length; i++ ) {
					if ( s.options[i].value == v ) {
					s.options[i].selected = true;
					return;
					}
				}
			}

			function populatedropdown(dayfield, monthfield, yearfield, eventdate){
				var today=new Date()
				var dayfield=document.getElementById(dayfield)
				var monthfield=document.getElementById(monthfield)
				var yearfield=document.getElementById(yearfield)
				for (var i=1; i<=31; i++)
					dayfield.options[i-1]=new Option(i, i)
				dayfield.options[today.getDate() - 1]=new Option(today.getDate(), today.getDate(), true, true) //select today's day
				for (var m=0; m<12; m++)
					monthfield.options[m]=new Option(monthtext[m], monthtext[m])
				monthfield.options[today.getMonth()]=new Option(monthtext[today.getMonth()], monthtext[today.getMonth()], true, true) //select today's month
				var thisyear=today.getFullYear()
				for (var y=0; y<20; y++){
					yearfield.options[y]=new Option(thisyear, thisyear)
					thisyear+=1
				}
				yearfield.options[0]=new Option(today.getFullYear(), today.getFullYear(), true, true) //select today's year

				setSelectedYear(yearfield, parseInt( (eventdate + '').substring(0, 4)));
				setSelectedTime(monthfield, parseInt((eventdate + '').substring(4, 6) - 1));
				setSelectedTime(dayfield, parseInt((eventdate + '').substring(6, 8) -1));
			}

			function convertTime(time){
				var timestr = time.toString();
	
				while(timestr.length < 4){
					timestr = '0' + timestr;
				}
				if (time < 1200){
					if (time < 100){
						return "12:" + timestr.substring(2) + " AM";
					}
					else{
						return timestr.substring(0,2) + ":" + time.toString().substring(2) + " AM";
					}
				}
				else{
					if (time < 1300){
						return "12:" + timestr.substring(2) + " PM";
					}
					else{
						timestr = (time - 1200).toString();
	
						while(timestr.length < 4){
							timestr = '0' + timestr;
						}		
						return timestr.toString().substring(0,2) + ":" + timestr.substring(2) + " PM";
					}	
				}
			}

			function populateTime(hourfield,minutesfield,ampmfield, eventtime) {
				var timestr = convertTime(eventtime);
				var hours = document.getElementById(hourfield);
				var minutes = document.getElementById(minutesfield);
				var ampm = document.getElementById(ampmfield);
				for (var h=0; h<10; h++) {
					var hr = "0"+(h+1);
					hours.options[h] = new Option(h+1,hr);
				}
				for (var h=10;h<12;h++) {
					hours.options[h]= new Option(h+1,h+1)
				}
				for (var i=0; i<10; i++) {
					var time = "0" + i;
					minutes.options[i] = new Option(time,time)
				}
				for (var m=10; m<60; m++) {
					minutes.options[m] = new Option(m,m)
				}
				for (var h = 0; h < 12; h++){
					if( (h+1) == parseInt(timestr.substring(0, timestr.indexOf(":")))){
						hours.options[h].selected = true;					
						break;
					}
				}
				for (var i = 0; i < 60; i++){
					if( (i) == parseInt(timestr.substring(timestr.indexOf(":")+1, timestr.indexOf(":")+3))){
						minutes.options[i].selected = true;					
						break;
					}
				}
				if(timestr.substring(timestr.length - 2).localeCompare("AM") == 0){
					ampm.options[0].selected = true;
				}
				else{
					ampm.options[1].selected = true;
				}
				
			}

		</script>



		<title>{{title}}</title>
	</head>
	<body>
        <header>
		<div id="header_wrapper">
			<div id="first_header">
				<div id="logo"><a href="/home"><img src="../public/images/logo.png"></a></div>
				<div id="adspace"><a href={{{adlink}}}><img src="../public/images/corner_ad.png"></a></div>
				<div id="second_header">
					<ul id="second_nav">
						{{{admin}}}
						<li id="submit"><a href="submit">Submit</a></li>
						<li id="search">Search: 
	 	       			<form method="POST" action="/search" id = "searchForm">
						<input id="textsearch" type="text" name="textsearch" id="searchField">
						</form>	
						</li>
					</ul>
				</div>
			</div>
		</div>
		</header>
		<div id="body_stuff">
			<div id="left_sidebar">
				<div id = "myCalendarContainer">
					
				</div>
				<div id="blurb">
				<p> FREE & CHEAP Things to Do in NYC During the Recession and Beyond... Art, Music, Theater, Film, Dance, Food, Lectures, Tours and more! </p>
				</div>
				<div id="categories">
					<ul id = "category_list">
					{{{categories}}}
					</ul>
				</div>

			</div>

			<div id="submitbox">
	       			 <form onsubmit="return validateForm()" method="POST" action="/edit/submit" id = "messageForm">
					<!--Figure out what should go in the submit post box -->
					<input type="hidden" name="postid" id="idField" size="38" value={{{postid}}}>
					Name of Event:<br />
					<input id="message" type="text" name="title" id="titleField" size="38" value={{{eventtitle}}}> <br />
					Position (ADS ONLY):<br />
					<input id="message" type="number" name="adposition" id="adField" size="38" value={{{adposition}}}> <br />
					Link to Image:<br />
					<input id="message" type="text" name="image" id="imageField" size="38" value={{{eventimage}}}> <br />
					Link to Event:<br />
					<input id="message" type="text" name="linkto" id="linkField" size="38" value={{{eventlinkto}}}> <br />
					Price of Event:<br />
					<input id="message" type="number" name="price" id="priceField" size="38" value={{{eventprice}}}> <br />
					Description of Event:<br />
					<textarea cols="40" rows="5" name="description">{{eventbody}}</textarea><br />
					Start Date:<br />
						<select id="startday" name="startday">
						</select> 
						<select id="startmonth" name="startmonth">
						</select> 
						<select id="startyear" name="startyear">
						</select> <br />
					End Date: <br />
						<select id="endday" name="endday">
						</select> 
						<select id="endmonth" name="endmonth">
						</select> 
						<select id="endyear" name="endyear">
						</select> 
						<br />
					Time: <br />
						<select id="hour" name ="hour">
						</select>
						<select id="minutes" name = "minutes">
						</select>
						<select id="ampm" name="ampm">
							<option>AM</option>
							<option>PM</option>
						</select>
						<script type="text/javascript">
						window.onload=function(){
							populatedropdown("startday", "startmonth", "startyear", {{{eventstartdate}}})
							populatedropdown("endday", "endmonth", "endyear", {{{eventenddate}}})
							populateTime("hour","minutes", "ampm",{{{eventtime}}})
						}
						</script> <br />
					Categories (Select up to two categories): <br />
					{{{categoryforms}}}


					<input id="send" type="submit" value="Edit"> <br/>
				</form>
			</div>

			<div id = 'errorbox'>
					<!--Figure out what errors there are -->
			</div>
		</div>
		<div id="footer_nav">
			<div id="footer_nav_wrapper">
				<ul>
					<li><a href="../about.html">About Us</a></li>
					<li><a href="../contact.html">Contact</a></li>
				</ul>
			</div>
		</div>
	</body>
</html>
