<!DOCTYPE html>
<html>
	<head>
		<link href="http://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet" type='text/css'>
        	<link href="../public/style.css" rel="stylesheet" type="text/css">
        	<script type="text/javascript" src="/public/frontend.js"></script>
		<title>{{title}}</title>
	</head>
	<body>
        	<header>
		<div id="header_wrapper">
			<h1 id="logo"><a href="/"><img src="../public/images/logo.png"></a></h1>
			<ul id="top_nav">
				<li id="sort_by"><a href="#">Sort By</a></li>
				<li id="submit"><a href="submit">Submit</a></li>
				<li id="search"><a href="search">Search</a></li>
				<li id="adspace"><img src="../public/images/corner_ad.png"><a href="#"></a></li>
			</ul>
		</div>
		</header>
		<div id="body_stuff">
			<div id="left_sidebar">
				<div id = "calendar">
				</div>
				<div id="blurb">
				<p> FREE & CHEAP Things to Do in NYC During the Recession and Beyond... Art, Music, Theater, Film, Dance, Food, Lectures, Tours and more! </p>
				</div>
				<div id="categories">
					<ul id = "category_list">
					<li id="Architecture"><a href="Architecture">Architecture</a></li>
					<li id="Art"><a href="Art">Art</a></li>
					<li id="Dance"><a href="Dance">Dance</a></li>
					<li id="Design"><a href="Design">Design</a></li>
					<li id="Film"><a href="Film">Film</a></li>
					<li id="Food"><a href="Food">Food</a></li>
					<li id="Fun"><a href="Fun">Fun</a></li>
					<li id="Lecture/Talk"><a href="LectureTalk">Lecture/Talk</a></li>
					<li id="Music"><a href="Music">Music</a></li>
					<li id="Theater"><a href="Theater">Theater</a></li>
					<li id="Tours"><a href="Tours">Tours</a></li>
					</ul>
				</div>

			</div>
			<div id="about_us">
	       			 <p>
	We are New York City enthusiasts who are always surprised by the constant stream of new and exciting things to discover throughout the city, and not all of them require a lot of money. Culture on the Cheap is a guide to free and cheap cultural events ranging from art and music shows to performances, talks, walks, food and more. We curate this bulletin board based on what looks interesting to us, but it goes without saying that we cannot personally attend all that is listed.

	If you would like to submit an event, please send a one- or two-sentence description with a link that includes all event information (date/time/location/cost) and a compelling image. We cannot include all submissions, but will look at them all and post those that fit in well with Culture on the Cheap.
				</p>
			</div>
		</div>
		<div id="footer_nav">
			<div id="footer_nav_wrapper">
				<ul>
					<li><a href="about.html">About Us</a></li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
			</div>
		</div>
	</body>
</html>
