<!DOCTYPE html>
<html>
	<head>
		<link href="http://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet" type='text/css'>
		<link href="../public/style.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="/public/browser.js"></script>
        	<script type="text/javascript" src="/public/frontend.js"></script>
		<script src="https://login.persona.org/include.js"></script>
		<script type="text/javascript" src="/public/calendar-2.2.js"></script>
		<script type="text/javascript">					 
				var calJEC = new JEC('myCalendarContainer', {
					weekdays: [
					    "S",
					    "M",
					    "T",
					    "W",
					    "Th",
					    "F",
					    "S"
					  ]
				});
				var temparray = [];
				var d = new Date();
				start = (d.getFullYear()-1)*10000+101;
				end = (d.getFullYear()+1)*10000+1231;
				while (start <= end){
					temparray.push({linkedDate:start,dateLink:'/'+start});
					start = start+1;
					if(start % 100 >= 32){
						start = start + (100 - 32);
					}
				}
				calJEC.linkDates(temparray);
				calJEC.showCalendar();
		</script>

		<title>{{title}}</title>
	</head>
	<body>
        <header>
		<div id="header_wrapper">
			<div id="first_header">
				<div id="logo"><a href="/home"><img src="../public/images/logo.png"></a></div>
				<div id="adspace"><a href={{{adlink}}}><img src={{{headerimage}}}></a></div>
				<div id="second_header">
					<ul id="second_nav">
<li><div id = "social">
<a href="https://www.facebook.com/CultureOnTheCheap" target="_blank"><img src="../public/images/facebook.png" alt="Join Us On Facebook"></a>
<a href="https://twitter.com/culturecheapNYC" target="_blank"><img src="../public/images/twitter.png" alt="Follow Us On Twitter"></a>
</div></li>
						{{{admin}}}
						<li id="submit"><a href="submit">Submit</a></li>
						<li id="search">Search: 
	 	       			<form method="POST" action="/search" id = "searchForm">
						<input id="textsearch" type="text" name="textsearch" id="searchField">
						</form>	
						</li>
					</ul>
				</div>
			</div>
		</div>
		</header>
		<div id="body_stuff">
			<div id="left_sidebar">
				<div id = "myCalendarContainer">	
				</div>
				<div id="blurb">
				<p> {{{description}}} </p>
				</div>
				<div id="categories">
					<ul id = "category_list">
					{{{categories}}}
					</ul>
				</div>
			</div>
			<div id="post_container">
				{{{preview}}}
				<div id="sort_nav_container">
					<ul id="sort_nav">
					<li id="sort_by">Sort By: </li>
					<li id="price_low_high"><a href="l2h">Price: Low to High</a></li>
					<li id="event_date"><a href="ed"}>Event Date</a></li>
					<li id="post_date"><a href="pd">Post Date</a></li>
					</ul>
				</div>
	       		{{{posts}}}
			</div>
		</div>
		<div id="footer_nav">
			<div id="footer_nav_wrapper">
				<ul>
					<li><a href="about.html">About Us</a></li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
			</div>
		</div>
	</body>
</html>
