<!DOCTYPE html>
<html>
	<head>
	<link href="http://fonts.googleapis.com/css?family=Inder|Merriweather+Sans|Sintony|Roboto" rel="stylesheet" type='text/css'>
        <link href="/public/style.css" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="/public/frontend.js"></script>
		<title>{{title}}</title>
        <header>Welcome to the Chatrooms</header>
		<body>
        <div id="indexbody">
		<a href="/login" id="newchat">Make A New Chatroom!</a>
        <br>
        {{{extrainfo}}}
        </div>
		</body>
	</head>
</html>
