<!DOCTYPE html>
<html>
	<head>
		<link href="http://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet" type='text/css'>
        	<link href="../public/style.css" rel="stylesheet" type="text/css">
        	<script type="text/javascript" src="/public/frontend.js"></script>
		<script type="text/javascript" src="/public/calendar-2.2.js"></script>
		<script src="https://login.persona.org/include.js"></script>
	        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script type="text/javascript">					 
				var calJEC = new JEC('myCalendarContainer', {
					weekdays: [
					    "S",
					    "M",
					    "T",
					    "W",
					    "Th",
					    "F",
					    "S"
					  ]
				});
				var temparray = [];
				start = 20130101;
				while (start <= 20501231){
					temparray.push({linkedDate:start,dateLink:'/'+start});
					start = start+1;
				}
				calJEC.linkDates(temparray);
				calJEC.showCalendar();
		</script>
		<script type="text/javascript">					 
				function validateForm(){

					var errors = 0;
					var errorbox = document.getElementById("errorbox");
				        var messageForm = document.getElementById('messageForm');
				        //var fd = new FormData(messageForm);
				        var elements = messageForm.elements;
				        errorbox.innerHTML = "";

					if(elements["title"].value.length == 0){
						errorbox.innerHTML += "* Please provide a name for the event! <br // >";
						errors += 1;
					}
					
					if(elements["image"].value.length == 0){
						errorbox.innerHTML += "* Please provide a link to the event image! <br // >";	
					}
					else{
						var imagefileformats = [".gif", ".jpg", ".jpeg", ".bmp", ".png"];
						var ext = elements["image"].value.substring(elements["image"].value.lastIndexOf('.'));
						if(imagefileformats.indexOf(ext) < 0){
							errorbox.innerHTML += "* Image file format not supported. <br // >";
							errors += 1;
						}
					}

					if(elements["linkto"].value.length == 0){
						errorbox.innerHTML += "* Please provide a link for the event! <br // >";
						errors += 1;
					}

					if(elements["price"].value.length == 0){
						errorbox.innerHTML += "* Please provide a price for the event! <br // >";
						errors += 1;
					}
					
					else if(!parseInt(elements["price"].value) && parseInt(elements["price"].value) != 0){
						errorbox.innerHTML += "* Price could not be converted to a number <br // >";
						errors += 1;
					}
					else if(parseInt(elements["price"].value) < 0){
						errorbox.innerHTML += "* Price cannot be negative. <br // >";
						errors += 1;
					}


					if(elements["description"].value.length == 0){
						errorbox.innerHTML += "* Please provide a description for the event! <br // >";
						errors += 1;
					}

					    var monthtext=['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sept','Oct','Nov','Dec'];

					    var startmonth = monthtext.indexOf(elements["startmonth"].value) + 1;
					    var startday = elements["startday"].value;

					    if(startmonth < 10){
					    	startmonth = '0' + startmonth;
					    }
					    if(startday < 10){
					    	startday = '0' + startday;
					    }
					    var startdate = parseInt(elements["startyear"].value + startmonth + startday); 

					    var endmonth = monthtext.indexOf(elements["endmonth"].value) + 1;
					    var endday = elements["endday"].value;

					    if(endmonth < 10){
					    	endmonth = '0' + endmonth;
					    }
					    if(endday < 10){
					    	endday = '0' + endday;
					    }
					    var enddate = parseInt(elements["endyear"].value + endmonth + endday); 

					if(startdate > enddate){
						errorbox.innerHTML += "* End date cannot be earlier than start date <br // >";
						errors += 1;
					}
					var today = new Date();
					var modify_month = parseInt(today.getMonth()+1);
					if(modify_month < 10){
						modify_month = '0' + modify_month;
					}

					var modify_date = parseInt(today.getDate());
					if(modify_date < 10){
						modify_date = '0' + modify_date;
					}
					var modify_d = parseInt(today.getFullYear() + '' + modify_month + '' + modify_date);
					if(modify_d > enddate){
						errorbox.innerHTML += "* End date cannot be earlier than today <br // >";
						errors += 1;

					}
					
					var checks = 0;
					for(var i = 0; i < elements.length; i++){
						if(elements[i].type == 'checkbox' && elements[i].checked){
							checks++;
						}
					}
					if(checks == 0){
						errorbox.innerHTML += "* Check off at least one category! <br // >";
						errors += 1;
					}
					else if(checks > 2){
						errorbox.innerHTML += "* Check off only up to two categories! <br // >";
						errors += 1;
					}

					return errors == 0;
				}
		</script>
		<script type="text/javascript">

			/***********************************************
			* Drop Down Date select script- by JavaScriptKit.com
			* This notice MUST stay intact for use
			* Visit JavaScript Kit at http://www.javascriptkit.com/ for this script and more
			***********************************************/

			var monthtext=['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sept','Oct','Nov','Dec'];

			function populatedropdown(dayfield, monthfield, yearfield){
				var today=new Date()
				var dayfield=document.getElementById(dayfield)
				var monthfield=document.getElementById(monthfield)
				var yearfield=document.getElementById(yearfield)
				for (var i=1; i<=31; i++)
					dayfield.options[i-1]=new Option(i, i)
				dayfield.options[today.getDate()-1]=new Option(today.getDate(), today.getDate(), true, true) //select today's day
				for (var m=0; m<12; m++)
					monthfield.options[m]=new Option(monthtext[m], monthtext[m])
				monthfield.options[today.getMonth()]=new Option(monthtext[today.getMonth()], monthtext[today.getMonth()], true, true) //select today's month
				var thisyear=today.getFullYear()
				for (var y=0; y<20; y++){
					yearfield.options[y]=new Option(thisyear, thisyear)
					thisyear+=1
				}
				yearfield.options[0]=new Option(today.getFullYear(), today.getFullYear(), true, true) //select today's year
			}

			function populateTime(hourfield,minutesfield) {
				var hours = document.getElementById(hourfield)
				var minutes = document.getElementById(minutesfield)
				for (var h=0; h<10; h++) {
					var hr = "0"+(h+1);
					hours.options[h] = new Option(h+1,hr);
				}
				for (var h=10;h<12;h++) {
					hours.options[h]= new Option(h+1,h+1)
				}
				for (var i=0; i<10; i++) {
					var time = "0" + i;
					minutes.options[i] = new Option(time,time)
				}
				for (var m=10; m<60; m++) {
					minutes.options[m] = new Option(m,m)
				}
			}

		</script>



		<title>{{title}}</title>
	</head>
	<body>
        <header>
		<div id="header_wrapper">
			<div id="first_header">
				<div id="logo"><a href="/home"><img src="../public/images/logo.png"></a></div>
				<div id="adspace"><a href={{{adlink}}}><img src="../public/images/corner_ad.png"></a></div>
				<div id="second_header">
					<ul id="second_nav">
						{{{admin}}}
						<li id="submit"><a href="submit">Submit</a></li>
						<li id="search">Search: 
	 	       			<form method="POST" action="/search" id = "searchForm">
						<input id="textsearch" type="text" name="textsearch" id="searchField">
						</form>	
						</li>
					</ul>
				</div>
			</div>
		</div>
		</header>
		<div id="body_stuff">
			<div id="left_sidebar">
				<div id = "myCalendarContainer">	
				</div>
				<div id="blurb">
				<p> {{{description}}} </p>
				</div>
				<div id="categories">
					<ul id = "category_list">
					{{{categories}}}
					</ul>
				</div>
				<style>.xg_module_body img {margin:0!important;}</style>
<div align="center"><table cellpadding="0" width="156" cellspacing="0"><tr>
<td><a href="https://www.facebook.com/CultureOnTheCheap" target="_blank"><img src="http://api.ning.com/files/yK4NcMrBlofWleqeABbNHR-JwhBMxMRlC7NRM0KCYhLk4i-pqoO0AYXzAp3bKHf0IYIP3Qjn0GVzm5V1Gv56dUqaq68hdmSW/facebooks1_60.png" alt="Join Our Facebook Fan Page" width="48" height="48" border="0"></a></td>

<td><a href="https://twitter.com/cultureonthecheap" target="_blank"><img src="http://api.ning.com/files/vwYvIcXARnCDb7rmTyv-ajyO2kvmHyKJ813N8CvFCImegtIaEvi9NeRhZ1RWCqojSEvAqmOzVNsoWX4HPus6Zwt-nMYOBXWU/twitters1_60.png" alt="Follow Us On Twitter" width="48" height="48" border="0"></a></td>
</tr>
</table></div>
			</div>

			<div id="submitbox">
	       			 <form onsubmit="return validateForm()" method="POST" action="/submit/submit" id = "messageForm">
					<!--Figure out what should go in the submit post box -->
					Name of Event:<br />
					<input id="message" type="text" name="title" id="titleField" size="38"> <br />
					Link to Image:<br />
					<input id="message" type="file" name="image" id="imageField" size="38"> <br />
					Link to Event:<br />
					<input id="message" type="text" name="linkto" id="linkField" size="38"> <br />
					Price of Event:<br />
					<input id="message" type="number" name="price" id="priceField" size="38"> <br />
					Description of Event:<br />
					<textarea cols="40" rows="5" name="description"></textarea><br />
					Start Date:<br />
						<select id="startday" name="startday">
						</select> 
						<select id="startmonth" name="startmonth">
						</select> 
						<select id="startyear" name="startyear">
						</select> <br />
					End Date: <br />
						<select id="endday" name="endday">
						</select> 
						<select id="endmonth" name="endmonth">
						</select> 
						<select id="endyear" name="endyear">
						</select> 
						<br />
					Time: <br />
						<select id="hour" name ="hour">
						</select>
						<select id="minutes" name = "minutes">
						</select>
						<select id="ampm" name="ampm">
							<option>AM</option>
							<option>PM</option>
						</select>
						<script type="text/javascript">
						window.onload=function(){
							populatedropdown("startday", "startmonth", "startyear")
							populatedropdown("endday", "endmonth", "endyear")
							populateTime("hour","minutes")
						}
						</script> <br />
					Categories (Select up to two categories): <br />
					{{{categoryforms}}}

					<input id="send" type="submit" value="Send"> <br/>
				</form>

			</div>
			<div id = 'errorbox'>
					<!--Figure out what errors there are -->
			</div>
		</div>
		<div id="footer_nav">
			<div id="footer_nav_wrapper">
				<ul>
					<li>
					jqtran@cs.brown.edu || Christopher.m.Piette@gmail.com || annaliasunderland@gmail.com || shannaxchen@gmail.com || hyoju_lim@brown.edu</li>
					<li><a href="about.html">About Us</a></li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
			</div>
		</div>
	</body>
</html>
